.header {
  height: 30rem;
}

.club-section {
  padding: 5rem 10% 15rem 10%;
}

.clubs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.clubs a {
  text-decoration: none;
}

.club {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
}

.club__name {
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
}

.club__logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.club__logo-img {
  width: 100%;
}
