<%- include('../includes/top.ejs') %>
<main>
  <section class="intro">
    <p class="intro__text">
      갓 입학한 새내기도 🐣<br>
      전역한 복학생도 🫡<br>
      졸업이 아쉬운 고학번도 🤦<br>
      내가 들어가고 싶은 <span class="green-bold">동아리</span>의 정보를 한눈에!
    </p>
  </section>
</main>
<footer class="footer">
  <ul class="footer__copyright">
    <li class="footer__copyright-text"><i class="bi bi-c-circle"></i>CMD.All rights reserved.</li>
    <li class="footer__copyright-text">SKKU COMEDU</li>
  </ul>
</footer>
<%- include('../includes/bottom.ejs') %>